/*color de fondo*/
body {
    background-color: #dbb3b1;
}
/*modifica el estilo del título*/
h1 {
    color: #4a1942; text-align: center;
    font-size: 50px;
    font-style: garamond;
}
/*modifica el estilo de la tabla*/
table {
    font-family: sans-serif;
    border-collapse: #66539f;
    border: 5px solid #66539f;
    width: 50%;
}
/*modifica el borde de la tabla*/
td {
    border: 2px solid black;
}
