/* Estilo del fondo*/
body {
    background-color: #dbb3b1;
}
/* modifica el titulo */
h1 {
    color: #4a1942; text-align: center;
    font-size: 50px;
    font-style: garamond;
}
/* modifica los subtitulos */
h2 {
    color: #4a1942; text-align: center;
    font-size: 20px;
    font-style: garamond;
}
/* modifica el imput */
input {
    color: #4a1942; text-align: center;
    font-size: 20px;
    font-style: garamond;
    margin:0 750px;
    border: 1px solid black
}
/* modifica el boton*/
button {
    color: #4a1942; text-align: center;
    font-size: 20px;
    font-style: garamond;
    margin:0 750px;
    border: 1px solid black
}
/* modifica el label */
label {
    color: #4a1942; text-align: center;
    font-size: 20px;
    font-style: garamond;
    margin:0 750px;
}
