/* Estilo del fondo*/
body {
	background-image: linear-gradient(to right,  purple ,  #dbb3b1);
  color: white;
}

/* Estilo para los links*/
a:link{
	color: #66539f;
}
/*modifica las imagenes*/
img{
		align: center;
		position: center;
	  width: 700px;
	}
/*modfica el boton*/
button {
    color: #4a1942; text-align: center;
    font-size: 20px;
    font-style: garamond;
    border: 1px solid black
}
