
/*modifica el color de la página*/
body {
		background-color: #dbb3b1;
	}
/*modifica el título*/
#Título {
		color: #4a1942; text-align: center;
    font-size: 50px;
    font-style: garamond;
		animation-name: example;
		animation-duration: 4s;
		animation-direction: alternate;
		animation-iteration-count: infinite;
	}
/*degrade*/
@keyframes example {
	  from {color:  #ebebeb}
	  to {color: #66539f}
	}
/*modifica el estilo de las opciones que hay en la página*/
p.Información {
    color: #4a1942;
		text-align: justify;
    font-size: 25px;
		padding: 10px;
		margin-left: 30px;
		margin-right: 30px;
    font-style: garamond;
	}
.info{
	text-align: center;
	font-family: 'Courier New';
	font-size: large;
	margin-left: 700px;
	margin-right: 700px;
}
ul.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
	/*modifica la imagen*/
img.Imagen{
		position: relative;
	  width: 100px;
	}
img.Imagen1{
		position: relative;
	  float: right;
	  width: 450px;
	  margin: 10px 100px;
	  padding: 10px;
	  border: 1px solid black
	}
img.user{
	float: center;
	width: 250px;
	opacity: 0.8;
	margin-left: 800px;
	margin-right: 800px;
}
.aminoacido{
	height: 375px;
	border: 3px solid #66539f;
	background-color: #ebebeb;
	opacity: 0.8;
	margin-left: 650px;
	margin-right: 650px;
}
.clasificar{
	height: 575px;
	border: 3px solid #66539f;
	background-color: #ebebeb;
	opacity: 0.8;
	margin-left: 550px;
	margin-right: 250px;
}
.Imag{
	position: relative;
	float: right;
	width: 250px;
	margin: 10px 250px;
 	padding: 10px;
 	border: 1px solid black
}
/*modifica el estilo del dropdown completo*/
li {
    float: left;
  }
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
li a:hover, .dropdown:hover .dropbtn {
    background-color: #66539f;
  }
li.dropdown {
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
  }
/*modifica el estilo de la tabla*/
table {
  font-family: sans-serif;
  border-collapse: #66539f;
  border: 3px solid #66539f;
  width: 50%;
  margin: 10px 500px;
}
td, th {
  border: 3px solid #66539f;
  text-align: left;
  padding: 8px;
}
tr:hover{
  background: #ebebeb;
	font-style: italic;
	font-size: 20px;
	border: 5px;
}
td > a:first-child {
  display: flex;
  padding: 30px;
  text-decoration: time new roman;
  color: #4a1942;
}
