
/*modifica el color de la página*/
body {
		background-color: #dbb3b1;
	}
/*modifica el título*/
#Título {
		color: #4a1942; text-align: center;
    font-size: 50px;
    font-style: garamond;
	}
/*modifica el estilo de las opciones que hay en la página*/
p.parrafo {
    color: black; text-align: center;
    font-size: 30px;
    font-style: garamond;
	}
/*modifica la imagen*/

img.Imagen2{
    position: relative;
    float: left;
    width: 400px;
    margin: 100px 10px;
    padding: 5px;
    border: 1px solid black
}
img.Imagen3{
    position: relative;
    float: left;
    width: 400px;
    margin: 100px 30px;
    padding: 5px;
    border: 1px solid black
}
img.Imagen4{
    position: relative;
    float: right;
    width: 400px;
    margin: 100px 30px;
    padding: 5px;
    border: 1px solid black
}
img.Imagen5{
    position: relative;
    float: right;
    width: 400px;
    margin: 100px 10px;
    padding: 5px;
    border: 1px solid black
}
/*modificar nombres de las mascotas*/
h1.mascotas	{
	color: black;
	text-align: justify;
	float: left;
	margin: -90px 60px;
	font-size: 30px;
	font-style: Bodoni;
}
h2.mascotas	{
	color: black;
	text-align: justify;
	float: left;
	margin: -90px 550px;
	font-size: 30px;
	font-style: Bodoni;
}
h3.mascotas	{
	color: black;
	text-align: justify;
	float: right;
	margin: -90px 650px;
	font-size: 30px;
	font-style: Bodoni;
}
h4.mascotas	{
	color: black;
	text-align: justify;
	float: right;
	margin: -90px 200px;
	font-size: 30px;
	font-style: Bodoni;
}
/*Agrega el boton para volver atrás*/
#back-button{
  width: 50px;
}
