
/*modifica el color de la página*/
body {
		background-color: #dbe4ed;
	}
/*modifica el título*/
#Título {
		color: #112236 ;
    text-align: center;
    font-size: 50px;
    font-style: "lucida bright";
	}
/*modifica el estilo de las opciones que hay en la página*/
p.parrafo {
    color: black;
    text-align: center;
    font-size: 30px;
    font-style: "courier new";
	}
h2 {
    color: black;
    font-family: "times new roman" ;
}

/*modifica la imagen*/
img.Imagen2{
    position: relative;
    float: left;
    width: 400px;
    margin: 50px 20px;
    padding: 5px;
    border: 1px solid black
}
img.Imagen3{
    position: relative;
    float: left;
    width: 400px;
    margin: 50px -10px;
    padding: 5px;
    border: 1px solid black
}
img.Imagen4{
    position: relative;
    float: left;
    width: 400px;
    margin: 210px 20px;
    padding: 5px;
    border: 1px solid black
}
img.Imagen5{
    position: relative;
    float: left;
    width: 400px;
    margin: -110px -430px;
    padding: 5px;
    border: 1px solid black
}
/*modificar video*/
.video{
		width:350px;
		height:550px;
		margin: -365px 10px;
    float: right;
		position: relative;
    padding: 5px;
    border: 1px solid black
}
.video2{
		width:350px;
		height:550px;
		margin: -50px 30px;
    float: left;
		position: relative;
    padding: 5px;
    border: 1px solid black
}
.pagina{
      width: 30%;
      height: 500px;
      background-color: D0FA58;
      margin: 20px 20px 20px 20px ;
      float: right;
      border:4px inset purple;
      text-align:center;
}
/*Agrega el boton para volver atrás*/
#back-button{
  width: 50px;
}
