
/*modifica el color de la página*/
body {
		background-color: #dbb3b1;
	}
/*modifica el título*/
#Título {
		color: #4a1942; text-align: center;
    font-size: 50px;
    font-style: garamond;
	}
/*modifica el estilo de las opciones que hay en la página*/
p.parrafo {
    color: black; text-align: center;
    font-size: 30px;
    font-style: garamond;
	}
/*modifica la imagen*/

img.Imagen2{
    position: relative;
    float: left;
    width: 400px;
    margin: 50px 10px;
    padding: 5px;
    border: 1px solid black
}
img.Imagen3{
    position: relative;
    float: left;
    width: 400px;
    margin: 50px 30px;
    padding: 5px;
    border: 1px solid black
}
img.Imagen4{
    position: relative;
    float: right;
    width: 400px;
    margin: -360px 470px;
    padding: 5px;
    border: 1px solid black
}
/*modificar video*/
.video{
		width:350px;
		height:550px;
		margin: -400px 50px;
    float: right;
		position: relative;
    padding: 5px;
    border: 1px solid black
}
/*modificar nombres de los hobbies*/
h1.hobbie	{
	color: black;
	text-align: justify;
	float: left;
	margin: -80px 150px;
	font-size: 30px;
	font-style: Bodoni;
}
h2.hobbie	{
	color: black;
	text-align: justify;
	float: left;
	margin: -40px 550px;
	font-size: 30px;
	font-style: Bodoni;
}
h3.hobbie	{
	color: black;
	text-align: justify;
	float: right;
	margin: -40px 650px;
	font-size: 30px;
	font-style: Bodoni;
}
h4.hobbie	{
	color: black;
	text-align: justify;
	float: right;
	margin: 160px 180px;
	font-size: 30px;
	font-style: Bodoni;
}
/*Agrega el boton para volver atrás*/
#back-button{
  width: 50px;
}
