
/*modifica el color de la página*/
body {
		background-color: #dbb3b1;
	}
/*modifica el título*/
#Título {
		color: #4a1942; text-align: center;
    font-size: 50px;
    font-style: garamond;
	}
/*modifica el estilo de las opciones que hay en la página*/
p.Información {
    color: black; text-align: center;
    font-size: 30px;
    font-style: garamond;
	}
/*modifica la imagen*/
img.Imagen1{
    position: relative;
    float: right;
    width: 350px;
    margin: 10px 100px;
    padding: 10px;
    border: 1px solid black
}
/*modifica el cuadrado que tiene la información*/
ul.navbar{
  font-size: 1.2em;
  color: black;
  font-family: "times new roman" ;
  text-align: justify;
  font-style: italic;
  margin:0 700px;
  border: 10px double #66539f;
  padding: 30px;
}
/*modifica el formato lista*/
ul li {
  list-style-type: right;
  border:1px solid black;
  margin-top: -1px;
  background-color: #dbb3b1;
  padding: 7px;
  text-align: center;
  opacity: 0.8;
  line-height: 50px;
}
