
/*modifica el color de la página*/
body {
		background-color: #dbb3b1;
	}
/*modifica el título*/
#Título {
		color: #4a1942; text-align: center;
    font-size: 50px;
    font-style: garamond;
	}
/*modifica el estilo de las opciones que hay en la página*/
p.parrafo {
    color: black; text-align: center;
    font-size: 30px;
    font-style: garamond;
	}
/*modifica la imagen*/
img.Imagen1{
    position: relative;
    float: right;
    width: 450px;
    margin: 0px 10px;
    padding: 10px;
    border: 1px solid black
}

img.Imagen2{
    position: relative;
    float: left;
    width: 450px;
    margin: 0px 10px;
    padding: 10px;
    border: 1px solid black
}

/*modificar tabla con los integrantes de la familia*/
#tabla {
    font-style: italic;
    font-size: 20px;
    border: 5px solid #66539f;
    width: 830px;
  }
/*Agrega el boton para volver atrás*/
#back-button{
	 width: 50px;
	}
